<div class="row justify-content-between">
  <div class="col-4">
    <h4 class="u-tags-v1 g-color-purple g-brd-around g-brd-purple g-bg-purple--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15"
        onclick="show_information('sale_information_<%= sale.id %>')">
        <%= sale.product_name  %>
        <i class="fa fa-eye"></i>
    </h4>
  </div>
  <div class="col-2">
    <p class="ml-2"> <b>Fecha de compra:</b> <%= date_format(sale.date) %></p>
  </div>
</div>

<div class="row mb-2">
  <%= render(partial: 'card_pay_small', 
             locals: { color: 'lightred-v2', paid: sale.saldo_pagado, detail: 'Debe' })%>
  <%= render(partial: 'card_pay_small', 
             locals: { color: 'teal-v2', paid: sale.total_value, detail: 'Haber' })%>
  <%= render(partial: 'card_pay_small', 
             locals: { color: 'pink', paid: sale.get_increments, detail: 'Ajuste/Mora' })%>
  <%= render(partial: 'card_pay_small', 
             locals: { color: 'indigo', paid: sale.get_all_owes, detail: 'Saldo' })%>
  <%= render(partial: 'card_pay_small', 
             locals: { color: 'blue', paid: sale.owes_this_month, detail: "Debe #{I18n.t("date.month_names")[Date.today.month]}" })%>
</div>   
<div id="sale_information_<%= sale.id %>" data-show='show' >
  
  <div class="row justify-content-between">
    <div class="col-6">
      <% if !sale.refinanced?%>
      <%= link_to "<i class='icon-finance-234 u-line-icon-pro'></i> Agregar ajuste".html_safe,
                  modal_apply_adjust_path(sale.id),
                  remote: true,
                  data: {toggle: :modal},
                  class: 'btn u-btn-outline-cyan u-btn-hover-v1-2 g-font-weight-600 g-letter-spacing-0_5 g-brd-2 g-rounded-10 g-mr-10 g-mb-15' %>

      <%= link_to "<i class='icon-finance-152 u-line-icon-pro'></i> Agregar cuota".html_safe,
                  new_fee_path( sale_id: sale.id ),
                  remote: true,
                  data: {toggle: :modal},
                  class: 'btn u-btn-outline-blue u-btn-hover-v1-2 g-font-weight-600 g-letter-spacing-0_5 g-brd-2 g-rounded-10 g-mr-10 g-mb-15' %>
      <%= link_to "<i class='icon-finance-260 u-line-icon-pro'></i> Refinanciar".html_safe,
                  new_sale_path( land_id: sale.land.id, product_type: :sale, product_id: sale.id ),
                  remote: true,
                  class: 'btn u-btn-outline-pink u-btn-hover-v1-2 g-font-weight-600 g-letter-spacing-0_5 g-brd-2 g-rounded-10 g-mr-10 g-mb-15' %>
      <% end %>
    </div>

    <div class="col-6">
      <%= link_to "<i class='icon-education-161 u-line-icon-pro'></i> Ver notas de credito".html_safe,
                credit_notes_path( sale_id: sale.id),
                remote: true,
                data: {toggle: :modal},
                class: 'btn u-btn-outline-pink u-btn-hover-v1-2 g-font-weight-600 g-letter-spacing-0_5 g-brd-2 g-rounded-10 g-mr-10 g-mb-15' %>
      <%= link_to "<i class='icon-finance-260 u-line-icon-pro'></i> Listar pagos".html_safe,
                  payment_summary_sale_path(sale.id),
                  remote: true,
                  data: {toggle: :modal},
                  class: 'btn u-btn-outline-indigo u-btn-hover-v1-2 g-font-weight-600 g-letter-spacing-0_5 g-brd-2 g-rounded-10 g-mr-10 g-mb-15' %>
    </div>
  </div>

  <div class="row justify-content-end">
    <%= link_to "<i class='icon-finance-152 u-line-icon-pro'></i> Ingresar pago".html_safe,
                new_payment_path(sale_id: sale.id),
                remote: true,
                class: 'btn u-btn-outline-teal u-btn-hover-v1-2 g-font-weight-600 g-letter-spacing-0_5 g-brd-2 g-rounded-10 g-mr-10 g-mb-15' %>
  </div>

  <table id="sale_land_table" class="table hover dt-responsive w-100 mt-2">
    <thead>
      <tr>
        <th>Mes</th>
        <th>Valor cuota</th>
        <th>Ajuste</th>
        <th>Mora</th>
        <th>Total</th>
        <th>Fecha pago</th>
        <th id="total_debe"> Debe <b>($<%= format_currency(sale.get_all_owes ) %>)</b></th>
        <th id="total_haber"> Haber <b>($<%= format_currency(sale.saldo_pagado ) %>)</b></th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% sale.fees.no_cero.each do |fee| %>
        <tr>
          <td><%= "#{I18n.t("date.month_names")[fee.due_date.month]}".capitalize %></td>
          <td><%= "$#{format_currency(fee.value)}" %></td>
          <td><%= "$#{format_currency(fee.get_adjusts)}" %></td>
          <td><%= "$#{format_currency(fee.get_interests)}" %></td>
          <td><%= "$#{format_currency(fee.total_value)}" %></td>
          <td><%= fee.due_date.strftime('%d-%m-%y') %></td>
          <td><%= show_owes(fee.get_deuda) %></td>
          <td><%= "$#{format_currency(fee.get_payments)}" %></td>
          <% if fee.expired? && !fee.payed? && !fee.refinancied?%>
            <td>
              <span class='u-tags-v1 text-center g-width-100 g-brd-around g-brd-lightred-v2 g-bg-lightred-v2
                        g-font-size-default g-color-white g-rounded-50 '>Cuota vencida
              </span>
            </td>
          <% else
            if fee.pagado?
              color = 'green'
            elsif fee.pago_parcial? 
              color = 'deeporange'
            else 
              color = 'blue'
            end %>
            <td>
              <%= " <span class='u-tags-v1 text-center g-width-100 g-brd-around g-brd-#{color} g-bg-#{color}
                        g-font-size-default g-color-white g-rounded-50 '>#{@status[fee.pay_status]}</span>".html_safe %>
            </td>
          <% end %>
          <td>
            <% if !sale.refinanced?%>
              <%= "#{btn_fee_pay_detail(fee)}".html_safe %>
            <% end %>
            <% if !sale.refinanced && fee.pay_status != 'pagado' %>
              <%# "#{btn_payment(sale.id, fee.id)}".html_safe %>
            <% end %>
          </td>
        </tr>
      <% end %> 
    </tbody>
  </table>
  <%= render(partial: "table_info_for_month", locals: { fees: sale.fees }) %>
</div>