<h4 class="u-tags-v1 g-color-purple g-brd-around g-brd-purple g-bg-purple--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15"
  onclick="show_information('sale_information_<%= sale.id %>')">
  <%= sale.product_name  %> 
  <i class="fa fa-eye"></i></h4>

<div class="row mb-2">
  <%= render(partial: 'card_pay_small', 
             locals: { color: 'teal-v2', paid: sale.saldo_pagado, detail: 'Pagado' })%>
  <%= render(partial: 'card_pay_small', 
             locals: { color: 'lightred-v2', paid: sale.get_all_owes, detail: 'Adeuda' })%>
  <%= render(partial: 'card_pay_small', 
             locals: { color: 'indigo', paid: sale.price, detail: 'Valor' })%>
</div>   
<div id="sale_information_<%= sale.id %>" data-show='show' >
  <%= render(partial: 'first_pay', locals: { sale: sale }) %>
  <table id="sale_land_table" class="table hover dt-responsive w-100 mt-2">
    <thead>
      <tr>
        <th>#</th>
        <th>Valor</th>
        <th>Ajuste</th>
        <th>Mora</th>
        <th>Total</th>
        <th>Fecha vencimiento</th>
        <th id="total_debe"> Debe <b>($<%= format_currency(sale.fees.sum(:owes) ) %>)</b></th>
        <th id="total_haber"> Haber <b>($<%= format_currency(sale.saldo_pagado ) %>)</b></th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% sale.fees.no_cero.each do |fee| %>
        <tr>
          <td><%= fee.number %></td>
          <td><%= "$#{format_currency(fee.value)}" %></td>
          <td><%= "$#{format_currency(fee.get_adjusts)}" %></td>
          <td><%= "$#{format_currency(fee.interest)}" %></td>
          <td><%= "$#{format_currency(fee.total_value)}" %></td>
          <td><%= fee.due_date.strftime('%d-%m-%y') %></td>
          <td><%= show_owes(fee.show_owes_in_table) %></td>
          <td><%= "$#{format_currency(fee.get_payments)}" %></td>
          <% if fee.expired? && !fee.payed? %>
            <td>
              <span class='u-tags-v1 text-center g-width-100 g-brd-around g-brd-lightred-v2 g-bg-lightred-v2
                        g-font-size-default g-color-white g-rounded-50 '>Cuota vencida
              </span>
            </td>
          <% else
            if fee.pagado?
              color = 'green'
            elsif fee.pago_parcial? 
              color = 'deeporange'
            else 
              color = 'blue'
            end %>
            <td>
              <%= " <span class='u-tags-v1 text-center g-width-100 g-brd-around g-brd-#{color} g-bg-#{color}
                        g-font-size-default g-color-white g-rounded-50 '>#{@status[fee.pay_status]}</span>".html_safe %>
            </td>
          <% end %>
          <td>
            <% if !fee.fee_payments.actives.empty?
              btn_detalle_pago = btn_fee_pay_detail(fee)
            end %>
            <% if !fee.payed? && fee.due_current_month %>
              <%= btn_fee_show(fee) %>
            <% elsif fee.payed? && fee.due_current_month %>
              <%= "#{btn_detalle_pago}
                    #{ btn_fee_partial_pay(fee) }".html_safe %>
            <% else %>
             <%= "#{btn_detalle_pago}".html_safe %>
            <% end %>
          </td>
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>