<h1 class="h1 g-font-weight-400"> Lote <%= @land.code %> - <%= @land.apple.code %> - <%= @land.apple.condominium.name %> </h1>

<%= link_to '<i class= "hs-admin-back-left"></i> Volver a manzanas'.html_safe, 
  apples_path, class: 'btn u-btn-blue mb-2 mr-2'%>
<%= link_to '<i class= "hs-admin-back-left"></i> Volver a lotes'.html_safe, 
  apple_lands_path(@land.apple), class: 'btn u-btn-primary mb-2 mr-2'%>

<div class="row">
  <% @land_sale.sale.clients.each do |client| %>
    <div class="g-brd-blue-left u-shadow-v2 g-brd-around g-brd-gray-light-v4 g-line-height-2 g-pa-10 g-mb-30 col-3 g-mr-5" role="alert">
      <h3 class="h3 g-font-weight-300 g-mb-5"><%= client.fullname %></h3>
      <p class="mb-0"><strong>DNI:</strong> <%= client.dni %></p>
      <p class="mb-0"><strong>Dirección:</strong> <%= client.direction %></p>
      <p class="mb-0"><strong>Tel:</strong> <%= client.phone %></p>
      <p class="mb-0"><strong>Email:</strong> <%= client.email %></p>
      <p class="mb-0"><strong>Estado civil:</strong> <%= client.marital_status %></p>
    </div>
  <% end %>
</div>


<div class="row mb-2">
  <%= render(partial: 'card_pay', locals: { color: 'teal-v2', paid: @land.get_all_pay, detail: 'Pagado' })%>
  <%# render(partial: 'card_pay', locals: { color: 'lightred-v2', paid: @land.get_all_owes, detail: 'Adeuda' })%>
  <%# render(partial: 'card_pay', locals: { color: 'indigo', paid: @land.total_price, detail: 'Valor del lote' })%>
</div>   

<%= render(partial: 'first_pay', locals: { sale: @land_sale.sale }) %>

<%= render(partial: 'fees_detail_table.html.erb', locals: { sale: @land_sale.sale }) %>