<h1 class="h1 g-font-weight-400"> <%= @land.sector.name %> > <%= @land.code %> > <%= @land.apple.code %> > <%= @land.apple.condominium.name %> </h1>

<%= link_to '<i class= "hs-admin-back-left"></i> Volver a manzanas'.html_safe, 
  apples_path, class: 'btn u-btn-blue mb-2 mr-2'%>
<%= link_to '<i class= "hs-admin-back-left"></i> Volver a lotes'.html_safe, 
  apple_lands_path(@land.apple), class: 'btn u-btn-primary mb-2 mr-2'%>

<div class="row">
  <% @land_sale.sale.clients.each do |client| %>
    <div class="g-brd-blue-left u-shadow-v2 g-brd-around g-brd-gray-light-v4 g-line-height-2 g-pa-10 g-mb-30 col-3 g-mr-5">
      <h3 class="h3 g-font-weight-300 g-mb-5"><%= client.fullname %></h3>
      <p class="mb-0"><strong>DNI:</strong> <%= client.dni %></p>
      <p class="mb-0"><strong>Dirección:</strong> <%= client.direction %></p>
      <p class="mb-0"><strong>Tel:</strong> <%= client.phone %></p>
      <p class="mb-0"><strong>Email:</strong> <%= client.email %></p>
      <p class="mb-0"><strong>Estado civil:</strong> <%= client.marital_status %>
        <%= link_to "<i class='fa fa-users'></i> Ver contactos".html_safe, 
                  client_contacts_path(client_id: client.id),
                  remote: true,
                  class: 'u-tags-v1 g-color-white g-bg-cyan g-bg-black--hover g-py-1 g-px-5 g-ml-20' %>
      </p>
    </div>
  <% end %>
</div>

<%# <p class="font-weight-bold">Proyectos próximos a comenzar: </p> %>
<% if @land.sales.where(status: :not_approved).count > 0 %>
  <p class="font-weight-bold">Proyectos a financiar: </p>
  <div class="row">
    <% @land.sales.where(status: :not_approved).each do |sale| %>
      <%= link_to "#{sale.sale_products.first.product.name}", 
        edit_sale_path(sale),
        remote: true,
        class: 'u-tags-v1 g-color-red g-brd-around g-brd-red g-bg-red-opacity-0_1 g-bg-red--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15 g-mr-10' %>
    <% end %>
  </div>
<% end %>

<div class="mt-2 mb-2">
  <% @land.land_projects.each do |project| %>
<ul>
    <% if project.project.date >= Date.today.end_of_month %>
      <li><%= project.project.name %> comienza el <%= date_format(project.project.date) %></li>
    <% end %>
</ul>
  <% end %>
</div>

<div class="row mb-2">
  <%= render(partial: 'card_pay', locals: { color: 'brown', paid: @land.total_price, detail: 'Pactado' })%>
  <%= render(partial: 'card_pay', locals: { color: 'teal-v2', paid: @land.get_all_pay, detail: 'Haber' })%>
  <%= render(partial: 'card_pay', locals: { color: 'indigo', paid: @land.get_all_increments, detail: 'Ajuste/Mora' })%>
  <%= render(partial: 'card_pay', locals: { color:  ( @land.get_all_owes > 0 ) ? 'red' : 'green', paid: @land.get_all_owes, detail: 'Saldo' })%>
</div>
<div class="row mb-2">
  <%= render(partial: 'card_pay', locals: { color:  ( @land.owes_this_month > 0 ) ? 'red' : 'green', paid: @land.owes_this_month, detail: "Saldo #{I18n.t("date.month_names")[Date.today.month]}" })%>
  <%= render(partial: 'card_pay', locals: { color: 'deeporange', paid: @land.paid_this_month, detail: "Haber #{I18n.t("date.month_names")[Date.today.month]}" })%>
</div>
<%= link_to 'Reporte de pagos', land_payments_reports_path(land_id: @land.id, format: :xlsx), class: 'btn btn-primary' %>
<hr>

<% @land.sales.where.not(status: :not_approved).each do |sale| %>
  <%= render(partial: 'fees_detail_table.html.erb', locals: { sale: sale }) %>
<% end %>

  
<!-- Modal pagar cuota -->
<div class="modal fade" id="modal-sale-product" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
</div>
<!-- End modal -->

<!-- Modal detalle de pago -->
<div class="modal fade" id="modal-pay-confirm" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
</div>
<!-- End modal -->

<!-- Modal detalle de pago -->
<div class="modal fade" id="modal-fee-payments" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
</div>
<!-- End modal -->

<!-- Modal detalle de pago -->
<div class="modal fade" id="modal-credit-notes" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
</div>
<!-- End modal -->



<!-- Modal para eliminar fee-payment -->
<div class="modal fade" id="modal-disable-fee-payment" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¿ Esta seguro de dar de baja este pago?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <%= form_with(url: disable_fee_payment_path, id: 'form-disable-fee-payment') do |form| %>
          <%= form.hidden_field :fee_payment_id %>
          <%= form.submit 'Eliminar', class: 'btn u-btn-red g-mr-10' %>
          <button type="button" data-dismiss="modal" class="btn u-btn-teal g-mr-10"> Cerrar </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Fin modal eliminar fee-payment -->
