<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @urbanization.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @urbanization.active %>
</p>

<p>
  <strong>Size:</strong>
  <%= @urbanization.size %>
</p>

<%= link_to 'Edit', edit_urbanization_path(@urbanization) %> |
<%= link_to 'Back', urbanizations_path %>
