<div class="modal-dialog modal-xl" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Resumen de pagos</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="table table-sm table-bordered">
        <thead>
          <th>#</th>
          <th>Valor cuota</th>
          <th>Ajuste</th>
          <th>Mora</th>
          <th>Vencimiento</th>
          <th>Fecha de pago</th>
          <th>Metodo de pago</th>
          <th>Ingreso</th>
          <th>Tomado en</th>
          <th>Total</th>
        </thead>
        <tbody>
          <% if !@first_payments.empty? %>
            <tr>
              <td colspan='7'>Primer entrega</td>
              <% @first_payments.each do |first_pay| %>
                <td><%= format_currency(first_pay.payment) %></td>
                <td><%= "$#{format_currency(first_pay.taken_in)}" %></td>
                <td><%= "$#{format_currency(first_pay.total)}" %></td>
              <% end %>
            </tr>
          <% end %>

          <% @fees.each do |fee| %> 
            <% @row_color = ( @row_color == '' ) ? 'table-active' : '' %>
            <% @payments = fee.get_payments_list %>

            <% @cant_payments = ( @payments.count > 0) ? @payments.count : 1 %>
            <tr class="<%= @row_color %>">
              <td rowspan="<%= @cant_payments %>"><%= (fee.number == 0 ) ? "1er entrega" : fee.number %></td>
              <td rowspan="<%= @cant_payments %>"><%= "$ #{format_currency(fee.total_value)}" %></td>
              <td rowspan="<%= @cant_payments %>"><%= "$ #{format_currency(fee.get_adjusts)}" %></td>
              <td rowspan="<%= @cant_payments %>"><%= "$ #{format_currency(fee.get_interests)}" %></td>
              <td rowspan="<%= @cant_payments %>"><%= date_format(fee.due_date) %></td>
              <%if @payments.count > 0 %>
                <td><%= "#{date_format(@payments.first.date)}" %></td>
                <td><%= @payments.first.currency.name %></td>
                <td><%= format_currency(@payments.first.payment) %></td>
                <td><%= "$#{format_currency(@payments.first.taken_in)}" %></td>
                <td><%= "$#{format_currency(@payments.first.total)}" %></td>
                <%else%>
                <td colspan="5"></td>
              <%end%>
            </tr> 
            <% if @cant_payments > 0 %>
              <% @payments.each_with_index do |payment, i | %>
                <% if i != 0 %>
                  <tr class="<%= @row_color %>">
                    <td><%= "#{date_format(payment.date)}" %></td>
                    <td><%= payment.currency.name %></td>
                    <td><%= format_currency(payment.payment) %></td>
                    <td><%= "$#{format_currency(payment.taken_in)}" %></td>
                    <td><%= "$#{format_currency(payment.total)}" %></td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          <% end %> <!-- end fees each -->
        </tbody>
      </table>
      <div>
        <button type="button" class="btn u-btn-outline-pink u-btn-hover-v2-2" data-dismiss="modal" aria-label="Close"> Cerrar </button>
      </div>
    </div>
  </div>
</div>