<!DOCTYPE html>
<html>
  <head>
    <title>Fidesur</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# favicon_link_tag asset_path('favicon.ico') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if logged_in? %>
      <%= render('shared/navbar') %>
      <%= render('shared/sidebar') %>
      <div class="col g-ml-45 g-ml-0--lg g-pb-65--md">
        <div class="g-pa-20">
          <%= yield %>
        </div>
      </div>
      <div class="modal fade" id="modal" role="dialog"
           aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
